@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}
@{
    int numberOfData = 0;
}

<div class="container-fluid">
    <div class="alert alert-primary">
        <h6>Category List</h6>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Number Of Category</th>
            <th>Category Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            numberOfData++;
            <tr>
                <td><b>@numberOfData</b></td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td> <a href="/Category/DeleteCategory/@item.Id" class="btn  btn-outline-danger">Delete</a></td>
                <td> <a href="/Category/UpdateCategory/@item.Id" class="btn  btn-outline-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn  btn-outline-primary">Create New Category</a>    
    <a href="/Category/DownloadPdf" class="btn btn-outline-secondary">Download PDF</a>
    <a href="/Category/DownloadExcel" class="btn btn-outline-warning">Download Excel</a>

</div>