@model CreateProductDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="alert alert-primary">
        <h6>Create Product</h6>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="CreateProduct">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label fw-bold"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label fw-bold"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label fw-bold"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockQuantity" class="control-label fw-bold"></label>
                    <input asp-for="StockQuantity" class="form-control" />
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fw-bold">Category Name</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="" selected disabled style="color: red;">Select a Category</option>

                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageIds" class="control-label fw-bold"></label>
                    <input asp-for="ImageIds" class="form-control" />
                    <span asp-validation-for="ImageIds" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:1rem">
                    <input type="submit" value="Create" class="btn btn-outline-primary col-12" />
                </div>
            </form>
        </div>
    </div>
</div>
