@model GetByIdProductDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post">
    <div class="container-fluid">
        <br />
        <div class="alert alert-primary">
            <h4>Update Product</h4>
        </div>
        <br />
        <label> Name</label>
        <input type="hidden" asp-for="Id" class="form-control" />

        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Description</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <label>Price</label>
        <input type="text" asp-for="Price" class="form-control" />
        <br />
        <label>Stock</label>
        <input type="text" asp-for="StockQuantity" class="form-control" />
        <br />
        <label class="text-danger">Category Name</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="" selected disabled style="color: red;">Select a Category</option>

            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <br />
        <label>Image Ids</label>
        @if (Model.ImageIds.Any())
        {
            foreach (var image in Model.ImageIds)
            {
                <input type="text" asp-for="ImageIds" value="@image" class="form-control" />
                <br />
            }
        }
        <br />
        <button class="btn btn-primary">Update new Product</button>
    </div>
</form>
