@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid mt-1">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-2">
                <div class="card h-100 d-flex flex-column">
                    <div class="row g-0 flex-grow-1">
                        <div class="col-md-4 p-3">
                            <div id="carouselExampleIndicators@item.Id" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators@item.Id" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators@item.Id" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators@item.Id" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://m.media-amazon.com/images/I/8143FLAy6GL._SX679_.jpg" class="d-block w-100 img-fluid rounded-start mt-4" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://m.media-amazon.com/images/I/41BILLhhM6L.jpg" class="d-block w-100 img-fluid rounded-start mt-4" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://m.media-amazon.com/images/I/31H5Ly2XotL.jpg" class="d-block w-100 img-fluid rounded-start mt-4" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@item.Id" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@item.Id" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body flex-grow-1">
                                <div>
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text"><strong>Price:</strong> @item.Price.ToString("C2")</p>
                                    <p class="card-text"><strong>Category:</strong> @item.CategoryName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:white">
                        <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display: inline;">
                            <input type="hidden" name="ProductId" value="@item.Id" /> <!-- Hidden field for product Id -->
                            <input type="hidden" name="quantity" value="1" /> <!-- Default quantity -->
                            <button type="submit" class="btn btn-outline-success m-2">Add to Cart</button>
                        </form>
                        <a href="/Home/Index/@item.Id" class="btn btn-outline-primary m-2">Add to Favorite</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
